<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Goal - SaveWise</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

        <link rel="icon"
          th:href="@{/images/favicon.ico}"
          type="image/x-icon">
</head>

<body>

<div class="container mt-5">

    <div class="card shadow mx-auto"
         style="max-width:600px;">

        <div class="card-body">

            <h2 class="mb-4"
                th:text="${goal.title}">
            </h2>

            <p>
                Current saved:
                <strong>
                    <span th:text="${goal.currentAmount}"></span> €
                </strong>
            </p>

            <p>
                Target:
                <strong>
                    <span th:text="${goal.targetAmount}"></span> €
                </strong>
            </p>

            <form th:action="@{/goals/update/{id}(id=${goal.id})}"
                  method="post">

                <div class="mb-3">

                    <label class="form-label">
                        Amount
                    </label>

                    <input type="number"
                           step="0.01"
                           min="0.01"
                           name="amount"
                           class="form-control"
                           required>

                </div>

                <button type="submit"
                        name="action"
                        value="add"
                        class="btn btn-success">
                    Add Money
                </button>

                <button type="submit"
                        name="action"
                        value="remove"
                        class="btn btn-warning">
                    Withdraw Money
                </button>

                <a href="/goals"
                   class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>

</body>
</html>