<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Category - SaveWise</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

        <link rel="icon"
          th:href="@{/images/favicon.ico}"
          type="image/x-icon">

    <style>
        body{
            background-color:#F5F9F7;
        }

        .navbar-savewise{
            background:#0F172A;
        }

        .logo{
            height:60px;
        }

        .btn-savewise{
            background:#34D399;
            border:none;
            color:white;
        }

        .btn-savewise:hover{
            background:#10B981;
            color:white;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-savewise">
    <div class="container">
        <img src="/images/logo.png" alt="SaveWise Logo" style="height:120px;">
    </div>
</nav>

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-body">

                    <h2 class="text-center mb-4">
                        New Category
                    </h2>

                    <form th:action="@{/categories/save}"
                          th:object="${category}"
                          method="post">

                        <div class="mb-3">

                            <label class="form-label">
                                Name
                            </label>

                            <input type="text"
                                   class="form-control"
                                   th:field="*{name}">

                            <div class="text-danger"
                                 th:if="${#fields.hasErrors('name')}"
                                 th:errors="*{name}">
                            </div>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Description
                            </label>

                            <textarea class="form-control"
                                      rows="3"
                                      th:field="*{description}">
                            </textarea>

                        </div>

                        <button type="submit"
                                class="btn btn-savewise">
                            Save Category
                        </button>

                        <a href="/categories"
                           class="btn btn-secondary">
                            Cancel
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>