<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>

    <h1>SaveWise Dashboard</h1>

    <h2>Income</h2>
    <p th:text="${income}"></p>

    <h2>Expenses</h2>
    <p th:text="${expenses}"></p>

    <h2>Balance</h2>
    <p th:text="${balance}"></p>

    <h2>Statistics</h2>

    <p>
        Categories:
        <span th:text="${totalCategories}"></span>
    </p>

    <p>
        Transactions:
        <span th:text="${totalTransactions}"></span>
    </p>


    <a href="/categories">
        Manage Categories
    </a>
    
    <a href="/transactions">
        Manage Transactions
    </a>

</body>
</html>